%h4
  "#{@bill.official_title}"

%h5
  Votes
%ul
  - @votes.each do |vote|
    %li
      = link_to("#{vote['question']} (#{vote['result']}, #{vote['breakdown']['total']['Yea']} - #{vote['breakdown']['total']['Nay']})", vote_path(vote), method: :get)

%p
  = p @votes.inspect


