.bill
  %h2
    = @bill.official_title

  %p
    = @bill.summary_short

  %h3
    - if !@votes.blank?
      Votes
    - else
      No votes yet

  %ul
    - @votes.each do |vote|
      %li
        = link_to("#{vote['question']} (#{vote['result']}, #{vote['breakdown']['total']['Yea']} - #{vote['breakdown']['total']['Nay']})", vote_path(vote.id), method: :get, remote: true)

:javascript

  var bodyAjax = (function() {

      var ajaxLink = function( element ) {
              $link = $( element );
              href = $link.attr( 'href' );
              $.get( href )
              .success( function( result ) {
                  bodyAjax.switchBody( result );
              });
      };  

      var switchBody = function( result ) { 
              newBody = $.parseHTML( result, document, true );
              oldBody = $( 'body' );
              oldBody.html( newBody );
      };

      return {
          ajaxLink: ajaxLink,
          switchBody: switchBody
      };
  })();

  $( document ).ready( function() {

    history.replaceState( {path: '#{bill_path(@bill)}'}, '', '#{bill_path(@bill)}' );
    document.title = ('#{@bill.official_title}');

    var voteLinks = (function() {
      
      $('a').on( 'click', function(e) {
        bodyAjax.ajaxLink( e.target );
        var href = $( this ).attr( 'href' );
        history.pushState( {path: href}, '', href );
        return false
      });
    })();
  });
  
