%div#roll-call
  - roll ||= ''
  
  %h2
    Roll Call

  %div.row-fluid
    %div.span6
      %h4
        Democrats

      - @vote_types.each do |type|
        - if vote_present? "D", type
          %h5 
            = type

          %ul
            - list = roll_call_list "D", type, roll
            - list.each do |item|
              %li
                = item

    %div.span6
      %h4
        Republicans

      - @vote_types.each do |type|
        - if vote_present? "R", type
          %h5 
            = type

          %ul
            - list = roll_call_list "R", type, roll
            - list.each do |item|
              %li
                = item
      <br />

      %h4
        Independents

      - @vote_types.each do |type|
        - if vote_present? "I", type
          %h5 
            = type

          %ul
            - list = roll_call_list "I", type, roll
            - list.each do |item|
              %li
                = item

