%div.roll-call
  - roll ||= ''
  
  %h2.heading
    Roll Call

  %div.row-fluid
    %div.span6
      %h2
        Democrats

      - @vote_types.each do |type|
        - if vote_present? "D", type
          %h4.type 
            = type
          %h5.weight
            weight

          %table
            - list = roll_call_list "D", type, roll
            - list.each do |item, weight|
              %tr
                %td.legislator
                  = item
                %td.weight
                  = weight

    %div{:class => ['span6', 'right-column']}
      %h2
        Republicans

      - @vote_types.each do |type|
        - if vote_present? "R", type
          %h4{:class => ['type', 'indent']} 
            = type
          %h5.weight
            weight

          %table.right-column
            - list = roll_call_list "R", type, roll
            - list.each do |item, weight|
              %tr
                %td.legislator
                  = item
                %td.weight
                  = weight
      <br />

      %h2
        Independents

      - @vote_types.each do |type|
        - if vote_present? "I", type
          %h4{:class => ['type', 'indent']} 
            = type
          %h5.weight
            weight

          %table.right-column
            - list = roll_call_list "I", type, roll
            - list.each do |item, weight|
              %tr
                %td.legislator
                  = item
                %td.weight
                  = weight

