%div#roll-call
  - roll ||= ''
  
  %h2
    Roll Call

  %div.row-fluid
    %div.span6
      %h4
        Democrats

      - @vote_types.each do |type|
        - if vote_present? "D", type
          %h5 
            = type

          %table
            - list = roll_call_list "D", type, roll
            - list.each do |item, weight|
              %tr
                %td
                  = item
                %td.weight
                  = weight

    %div.span6
      %h4
        Republicans

      - @vote_types.each do |type|
        - if vote_present? "R", type
          %h5.indent 
            = type

          %table.right-column
            - list = roll_call_list "R", type, roll
            - list.each do |item, weight|
              %tr
                %td.legislator
                  = item
                %td.weight
                  = weight
      <br />

      %h4
        Independents

      - @vote_types.each do |type|
        - if vote_present? "I", type
          %h5.indent 
            = type

          %table.right-column
            - list = roll_call_list "I", type, roll
            - list.each do |item, weight|
              %tr
                %td.legislator
                  = item
                %td.weight
                  = weight

