%h2 
  = @vote.question

%h3
  = @vote.bill.official_title
%p
  = @vote.bill.summary_short

%h5
  = "Required for Passage: #{@vote.required}"

%h6
  Traditional, 2 votes per state 
%ul
  %li
    = "Result: #{@vote.result}"
  %li
    = "Yea: #{@vote.breakdown["total"]["Yea"]}"
  %li
    = "Nay: #{@vote.breakdown["total"]["Nay"]}"
  %li
    = "Not Voting: #{@vote.breakdown["total"]["Not Voting"]}"
  %li
    = "Present: #{@vote.breakdown["total"]["Present"]}"

%h6
  Popular, Strictly based on population with fractional votes
%ul
  %li
    = "Yea: #{@pop_tally["Yea"]}"
  %li
    = "Nay: #{@pop_tally["Nay"]}"
  %li
    = "Not Voting: #{@pop_tally["Not Voting"]}"
  %li
    = "Present: #{@pop_tally["Present"]}"

%h3
  Roll Call
%ul
  - counter = 0
  - @vote.voters.each_value do |v|
    %li
      = "#{v["voter"]["last_name"]}, #{v["voter"]["first_name"]}, #{v["voter"]["state_name"]} - vote: #{v["vote"]} weight: #{@pop_votes[counter]}"
      - counter += 1

%p
  = pp @vote.inspect
  = pp @pop_votes.inspect
  = pp @pop_tally.inspect
