%h2 
  = @vote.question

%h3
  = @vote.bill.official_title

%p
  = @vote.bill.summary_short

%h5
  = "Required for Passage: #{@vote.required}"

%div.row-fluid
  %div.span3.vote-box-first#traditional-vote
    %h4
      Traditional

    %ul.traditional-vote-tally
      %li
        = "#{@vote.result}"
      %li
        = "Yea: #{@vote.breakdown["total"]["Yea"]}"
      %li
        = "Nay: #{@vote.breakdown["total"]["Nay"]}"
      - if @vote.breakdown["total"]["Not Voting"] > 0
        %li
          = "Not Voting: #{@vote.breakdown["total"]["Not Voting"]}"
      - if @vote.breakdown["total"]["Present"] > 0
        %li
          = "Present: #{@vote.breakdown["total"]["Present"]}"
    <br />
    %p
      Two votes per state. x x x x x x x x x x x

  %div.span3.vote-box#popular-vote
    %h4
      Popular

    %ul.popular-vote-tally
      %li
        = "#{@pop_tally["Result"]}"
      %li
        = "Yea: #{@pop_tally["Yea"]}"
      %li
        = "Nay: #{@pop_tally["Nay"]}"
      - if @pop_tally["Not Voting"].to_f > 0
        %li
          = "Not Voting: #{@pop_tally["Not Voting"]}"
      - if @pop_tally["Present"].to_f > 0
        %li
          = "Present: #{@pop_tally["Present"]}"

    <br />
    %p
      One person one vote for each American. x x x x x x x x 

  %div.span3.vote-box#fraction-vote
    %h4
      One Vote Fractional 

    %ul.faction-vote-tally
      %li
        = "#{@one_per_frac_tally["Result"]}"
      %li
        = "Yea: #{@one_per_frac_tally["Yea"]}"
      %li
        = "Nay: #{@one_per_frac_tally["Nay"]}"
      - if @one_per_frac_tally["Not Voting"].to_f > 0
        %li
          = "Not Voting: #{@one_per_frac_tally["Not Voting"]}"
      - if @one_per_frac_tally["Present"].to_f > 0
        %li
          = "Present: #{@one_per_frac_tally["Present"]}"

    <br />
    %p
      Each state gets one vote and the rest are allocated by population. Divide a state's votes evenly between senators.

  %div.span3.vote-box#int-vote
    %h4
      One Vote Senority

    %ul.int-vote-tally
      %li
        = "#{@one_per_int_tally["Result"]}"
      %li
        = "Yea: #{@one_per_int_tally["Yea"]}"
      %li
        = "Nay: #{@one_per_int_tally["Nay"]}"
      - if @one_per_int_tally["Not Voting"].to_f > 0 
        %li
          = "Not Voting: #{@one_per_int_tally["Not Voting"]}"
      - if @one_per_int_tally["Present"].to_f > 0    
        %li
          = "Present: #{@one_per_int_tally["Present"]}"
    
    <br />
    %p  
      Each state gets one vote and the rest are allocated by population. For states with an odd number of votes, give the extra (or only) vote to the senior senator. 

%div#roll-call
  %h3
    Roll Call

  %ul
    - counter = 0
    - @vote.voters.each_value do |v|
      %li
        = "#{v["voter"]["last_name"]}, #{v["voter"]["first_name"]}, #{v["voter"]["state_name"]} #{v["voter"]["state_rank"]}- vote: #{v["vote"]}" 
        - counter += 1
%p
  = pp @vote.inspect

:javascript
  $( document ).ready( function() { // still need mouse change on rollover for click on div events

      var rollCall = function() {

  		  var $rollCall = $( "ul#roll-call li" );
          var $traditionalVote = $( "div.traditional-vote" );
          var $popularVote = $( "div.popular-vote" );
          var $onePerFractionalVote = $( "div.fraction-vote" );
          var $onePerIntVote = $( "div.int-vote" );
          var voters = gon.voters;

          var traditionalRollCall = function() {
            for ( var i = 0; i < $rollCall.length; i += 1 ) {
                  $rollCall[i].textContent = ( voters[i].last_name + ", " + voters[i].first_name );
              };
          };

          var popularRollCall = function() {
            for ( var i = 0; i < $rollCall.length; i += 1 ) {
                  $rollCall[i].textContent = ( voters[i].last_name + ", " + voters[i].first_name + " - weight: " + gon.pop_votes[i] );
              };
          };

          var onePerFractionalRollCall = function() {
              for ( var i = 0; i < $rollCall.length; i += 1 ) {
                  $rollCall[i].textContent = ( voters[i].last_name + ", " + voters[i].first_name + " - weight: " + gon.one_per_frac_votes[i] );
              };
          };

          var onePerIntRollCall = function() {
              for ( var i = 0; i < $rollCall.length; i += 1 ) {
                  $rollCall[i].textContent = ( voters[i].last_name + ", " + voters[i].first_name + " - weight: " + gon.one_per_int_votes[i] );
              };
          };

          $popularVote.click( function() {
              popularRollCall();
          }); 
          
          $traditionalVote.click( function() {
              traditionalRollCall();
          }); 

          $onePerFractionalVote.click( function() {
              onePerFractionalRollCall();
          }); 

          $onePerIntVote.click( function() {
              onePerIntRollCall();
          }); 

      }();
  });
