<!-- .btn-navbar is the toggle for viewing collapsed navbar conent -->
%a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

<!-- logo link on header -->    
= link_to "VoteVote", root_path, :class => 'brand'

<!-- collapsable nav -->
.nav-collapse.collapse
  %ul.nav
    - if user_signed_in?
      %li
        = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    - else
      %li
        = link_to 'Login', new_user_session_path
    - if user_signed_in?
      %li
        = link_to 'Edit account', edit_user_registration_path
      - if current_user.has_role? :admin
        %li
          = link_to 'Admin', users_path
    - else
      %li
        = link_to 'Sign up', new_user_registration_path
